<html>
	<head>
		<title>Update Patient Daily Diet</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			.set-appointment {
				    position: fixed;
				    right: 0;
				    margin: 35px;
				    bottom: 0;
			}
			hr {
				border-top: 2px solid #95b8dc;
			}
			table {
				background-color: #fff;
			}

			.thead-inverse th {
				text-align: center;
			    color: #fff;
			    background-color: #292b2c;
			}
			.thead-inverse td {
			    color: #1f1d1d;
			    background-color: #798286;
			}

			.icon-success {
			    color: #5CB85C;
			}

			.icon-remove {
			    color: #b85c5c;
			}
		</style>
	</head>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">

			<!-- Form Name -->
			<h2>Edit System Details</h2>
				<div class="row" style="border:1px;">
				<div class="row" style="border:1px;">
					<div class="panel panel-default" style="padding: 10px 10px 40px;">
					<form action="" method="post">
	<table class="table table-hover table-bordered">
								  <table class="table table-hover table-bordered text-center">
								  <thead class="thead-inverse">
									<tr>
										<th>Makanan</th>
										<th>Minuman</th>
										<th>Aktiviti</th>
									</tr>
									
								  </thead>
								  <tbody>
									<tr>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Makanan" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Minuman" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Aktiviti" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
									</tr>
									<tr>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Makanan" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Minuman" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Aktiviti" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
									</tr>
									<tr>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Makanan" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Minuman" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Aktiviti" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
									</tr>
									<tr>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Makanan" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Minuman" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
										<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										  <input  name="Aktiviti" class="form-control" type="text-center" style="text-align: center;" value="xxxxx">
									    </div>
									 </div>
								</div></td>
									</tr>
									<tr>
									<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <input  name="name" class="form-control" type="text-center" style="text-align: center;">
										  <span class="input-group-addon"><input name="Makanan" style="background-color: #b85c5c; color: #5CB85C;" type="button" value="+"></span>
									    </div>
									 </div>
								</div></td>
									<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <input  name="name" class="form-control" type="text-center" style="text-align: center;">
										  <span class="input-group-addon"><input name="Minuman" style="background-color: #b85c5c; color: #5CB85C;" type="button" value="+"></span>
									    </div>
									 </div>
								</div></td>
									<td><div class="form-group">
									<div class="col-md-12 inputGroupContainer">
									  	<div class="input-group">
										  <input  name="name" class="form-control" type="text-center" style="text-align: center;">
										  <span class="input-group-addon"><input name="Aktiviti" style="background-color: #b85c5c; color: #5CB85C;" type="button" value="+"></span>
									    </div>
									 </div>
								</div></td>
									</tr>


								  </tbody>
								</table>
								<button type="submit" class="btn btn-success pull-right">   Update <span class="glyphicon glyphicon-plus"></span>   </button>
								<button type="submit" class="btn btn-info pull-right" style=" margin-right: 10px;" disabled="yes" >   Edit <span class="glyphicon glyphicon-pencil"></span>   </button> 
								</form>