<html>
	<head>
		<title> Registeration Form </title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			.set-appointment {
				    position: fixed;
				    right: 0;
				    margin: 35px;
				    bottom: 0;
			}
			hr {
				border-top: 2px solid #95b8dc;
			}
			table {
				background-color: #fff;
			}

			.thead-inverse th {
				text-align: center;
			    color: #fff;
			    background-color: #292b2c;
			}
			.thead-inverse td {
			    color: #1f1d1d;
			    background-color: #798286;
			}

			.icon-success {
			    color: #5CB85C;
			}

			.icon-remove {
			    color: #b85c5c;
			}
		</style>
	</head>

	<body>
		<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			<!-- Form Name -->
			<h2>NSO Registration</h2>
				<div class="row" style="border:1px;">
					<!-- start tabs -->
					<div class="panel panel-default" style="padding: 10px;">
					     <!-- Tab panes -->
					        <div class="tab-content" style="padding-top: 20px">
					            <div role="tabpanel" class="tab-pane fade in active" id="basic">
									<form class="well form-horizontal" action=" " met hod="post"  id="contact_form">
									<fieldset>
										<div class="form-group">
										  <label class="col-md-4 control-label">Name</label>  
										  <div class="col-md-6 inputGroupContainer">
										  <div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
										  <input  name="nama" placeholder="Nama" class="form-control"  type="text">
										    </div>
										  </div>
										</div>
										<!-- Text input-->
										<div class="form-group">
										  <label class="col-md-4 control-label" >Gender</label> 
										    <div class="col-md-4 inputGroupContainer">
					                            <div class="radio">
					                                <label>
					                                    <input type="radio" name="jantina" value="yes" /> Male
					                                </label>
					                            </div>
					                            <div class="radio">
					                                <label>
					                                    <input type="radio" name="jantina" value="no" /> Female
					                                </label>
					                            </div>
					                        </div>
										</div>
										<!-- Text input--> 
										<div class="form-group">
										  <label class="col-md-4 control-label">No .KP</label>  
										    <div class="col-md-6 inputGroupContainer">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-id-card"></i></span>
												  	<input type="text"  class="form-control" name="mycard" id="id_mycard" required pattern="[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[01])(0[1-9]|1[0-6])[0-9]{4}">
											  	</div>
											</div>
									 	</div>
										<!-- Text input--> 
										<div class="form-group">
										  <label class="col-md-4 control-label">Tel</label>  
										    <div class="col-md-6 inputGroupContainer">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
												  	<input type="text"  class="form-control" name="telefon" required pattern="">
											  	</div>
											</div>
										</div>
										<!-- Text input--> 
										<div class="form-group">
										  <label class="col-md-4 control-label">Email</label>  
										    <div class="col-md-6 inputGroupContainer">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
												  	<input type="email"  class="form-control" name="email" required pattern="">
											  	</div>
											</div>
										</div>
										<div class="form-group">
										  <label class="col-md-4 control-label">Password</label>  
										    <div class="col-md-6 inputGroupContainer">
											    <div class="input-group">
											        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												  	<input type="password"  class="form-control" name="password" required pattern="">
											  	</div>
											</div>
										</div>
										<!-- Button -->
										<div class="form-group">
										  	<label class="pull-right">
										    	<button type="submit" class="btn btn-warning" >Save</button>
										  	</label>
										</div>
									</fieldset>
									</form>
								</div>
							</div>
				          </div>
				          <!--tutup panel -->
				        </div>
					</div>
				</div>
			</div><!-- /.container -->
	</body>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>