<html>
	<head>
		<title>Schedule Appointment</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			<!-- Form Name -->
			<h2>Schedule Appointment</h2>
				<div class="row" style="border:1px;">
					<!-- start tabs -->
					<div class="panel panel-default" style="padding: 10px;">
						<form class="well form-horizontal" action=" " method="post"  id="contact_form">
							<fieldset>
								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label">Date</label>  
									<div class="col-md-6 inputGroupContainer">
									  	<div class="input-group">
										  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										  <input  name="date" class="form-control" type="date">
									    </div>
									 </div>
								</div>
								<!-- Text input-->
								<div class="form-group">
								  <label class="col-md-4 control-label" >Time</label> 
								    <div class="col-md-4 inputGroupContainer">
			                            <div class="input-group">
									        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
									 		<input name="time" class="form-control" type="time">
									    </div>
			                        </div>
								</div>
								<!-- Text input-->
								<div class="form-group">
								  <label class="col-md-4 control-label">Remarks</label>  
								    <div class="col-md-6 inputGroupContainer">
								    <div class="input-group">
								        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
								 		<textarea name="remarks" class="form-control"></textarea>
								    </div>
								  </div>
								</div>
								<!-- Button -->
								<div class="form-group">
								  <label class="col-md-4 control-label"></label>
								  <div class="col-md-4">
								    <button type="submit" class="btn btn-warning">Hantar <span class="glyphicon glyphicon-send"></span></button>
								  </div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<!-- /.container -->
	</body>

</html>