<html>
	<head>
		<title>Update Patient Daily Diet</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			.set-appointment {
				    position: fixed;
				    right: 0;
				    margin: 35px;
				    bottom: 0;
			}
			hr {
				border-top: 2px solid #95b8dc;
			}
			table {
				background-color: #fff;
			}

			.thead-inverse th {
				text-align: center;
			    color: #fff;
			    background-color: #292b2c;
			}
			.thead-inverse td {
			    color: #1f1d1d;
			    background-color: #798286;
			}

			.icon-success {
			    color: #5CB85C;
			}

			.icon-remove {
			    color: #b85c5c;
			}
		</style>
	</head>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">

			<!-- Form Name -->
			<h2>Update Patient Daily Diet</h2>
				<div class="row" style="border:1px;">
				<div class="row" style="border:1px;">
					<div class="panel panel-default" style="padding: 10px 10px 40px;">
					<form action="" method="post">
	<table class="table table-hover table-bordered">
								  <table class="table table-hover table-bordered text-center">
								  <thead class="thead-inverse">
									<tr>
										<th>Makanan</th>
										<th>Minuman</th>
										<th>Aktiviti</th>
									</tr>
									
								  </thead>
								  <tbody>
									<tr>
										<td>XXXXX</td>
										<td>XXXXX</td>
										<td>XXXXX</td>

									</tr>
									<tr>
										<td>XXXXX</td>
										<td>XXXXX</td>
										<td>XXXXX</td>
									</tr>
									<tr>
										<td>XXXXX</td>
										<td>XXXXX</td>
										<td>XXXXX</td>
									</tr>
									<tr>
										<td>XXXXX</td>
										<td>XXXXX</td>
										<td>XXXXX</td>
									</tr>


								  </tbody>
								</table>
								<button type="submit" class="btn btn-danger pull-right" >   Add <span class="glyphicon glyphicon-plus"></span>   </button> 
								</form>
								<br><br>
	<body>
		<div class="container">
		<div class="row">
			<div class="col-md-10 ">
				<div class="panel panel-default" style="padding: 10px 10px 40px;">

						<table class="table">
						<tbody>
						<tr>
							<td><font size="5">Patient Daily Diet</font></td>
							
						</tr>
							
						</tbody>
						</table>

					
					<form action="" method="post">
						
								<table class="table table-hover table-bordered text-center">
								  <thead class="thead-inverse">
									<tr>
										<th >Kategori</th>
										<th>Butiran</th>
										<th >Kalori</th>
									</tr>
									<tr>
										<td><font color="white" size="4">Makanan</td>
										<td style="background-color: #fff;">XXXXX</td>
										<td style="background-color: #fff;">xxx Kcal</td>
										</tr>
										<tr>
										<td><font color="white" size="4">Minuman</td>
										<td style="background-color: #fff;">XXXXX</td>
										<td style="background-color: #fff;">xxx Kcal</td>
										</tr>
										<tr>
										<td ><font color="white" size="4">Aktiviti</td>
										<td style="background-color: #fff;">XXXXX</td>
										<td style="background-color: #fff;">xxx Kcal</td>
										</tr>
										<tr>
											<td colspan="2" align="text-center" style="background-color: #292b2c"><font color="white" size="4">Jumlah</font></td>
											<td style="background-color: #fff;"><font color="green" size="3" style="bold">xxx Kcal</td>
										</tr>
										</thead>
								  
						</form>