<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>View Feedback</title>
 
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: blue">
 <div class="container-fluid">
    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
    <div class="panel-heading">
      View Feedback
    </div>
    <div class="panel-body">
    <div class="row">
    <div class="col-lg-12">
    <form role="form">
        <div class="form-group">
<textarea class="form-control" name="message" rows="20" cols="50" disabled="Yes">
Name: JSasfaf
Date: 1 JUNE 2017
Time: 2:34pm
Remark: Health status excellent!!!
</textarea>
</div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>