<html>
	<head>
		<title>View Patient List</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			hr {
				border-top: 2px solid #95b8dc;
			}
			table {
				background-color: #fff;
			}

			.thead-inverse th {
				text-align: center;
			    color: #fff;
			    background-color: #292b2c;
			}
			.thead-inverse td {
			    color: #1f1d1d;
			    background-color: #798286;
			}
		</style>
	</head>

	<body>
		<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			<!-- Form Name -->
			<h2>View Patient List</h2>
				<div class="row" style="border:1px;">
					<!-- start tabs -->
					<div class="panel panel-default" style="padding: 10px 10px 40px;">
					<h3>Patient Records</h3>
					  <div class="well">
						<form class="form-horizontal" action=" " method="post"  id="contact_form">
							<fieldset>
								<div class="form-group">
									<label class="col-md-3 control-label">Search by Name: </label>  
									<div class="col-md-6 inputGroupContainer">
										<input class="form-control" name="searchby" placeholder="Insert Name Here">
									</div>
									<div class="col-md-2">
									   <button type="submit" class="btn btn-warning">   Search <span class="glyphicon glyphicon-search"></span>   </button>
									</div>
								</div>
							</fieldset>
						</form>

						<hr><br/>

						<table class="table table-hover table-bordered">
						  <thead class="thead-inverse">
							<tr>
								<th colspan="4">Patient List</th>
							</tr>
							<tr>
								<td>#</td>
								<td>Patient Name</td>
								<td width="68px"></td>
							</tr>
						  </thead>
						  <tbody>
							<tr>
								<th scope="row">1</th>
								<td>Nur Yusna Marlina binti Mohd Yusoff</td>
								<td>
									<a href="view_user_information.html" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Siti Hairani Binti Harun</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Nurul Hidayah</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Mohd Hafis</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">5</th>
								<td>Nor Wahida</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">6</th>
								<td>Nur Yusna Marlina binti Mohd Yusoff</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td>Siti Hairani Binti Harun</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">8</th>
								<td>Nurul Hidayah</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">9</th>
								<td>Mohd Hafis</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
							<tr>
								<th scope="row">10</th>
								<td>Nor Wahida</td>
								<td>
									<a href="" class="btn btn-success btn-xs">Details</a>
								</td>
							</tr>
						  </tbody>
						</table>

						<!--pagination-->
						<div class="text-center">
						    <ul class="pagination">
								<li class="disabled"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
							 	<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
							</ul>
						</div>

					  </div>
					</div>
				</div>
			</div>
			<!-- /.container -->
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>